/* SETUP SNIPPET */

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

/* GENERAL STYLES */

html {
	font-size: 125%;
  font-family: "serif";
  background: #111;
}

h1,
h2,
h3,
h4,
p, 
ul,
li,
a,
img {
	margin: 0;
  padding: 0;
  color: white;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
}

li {
    list-style: none;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    width: 72%;
    margin: 0 auto;
    padding: 1% 0;
    font-size: 0.9rem;
}

/* a {
    text-decoration: none;
} */

button {
  background: blue;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  padding: 3px 25px;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold;
  font-style: italic;
}

button:hover,
button:focus {
  background: lightblue;
  color: black;
}

/* HEADER STYLES */

h1,
h2 {
  text-align: center;
  text-transform: uppercase;
}

h1 {
  font-family: 'Paytone One';
  text-shadow: 3px 3px blue;
}

h2 {
  font-size: 1.2rem;
  margin-bottom: 1.5%;
}

h3 {
  text-align: center;
  margin-bottom: 2%;
  padding-bottom: 1%;
  border-top: 3px solid blue;
  border-bottom: 3px solid blue;
}

.logoPic {
  max-width: 100px;
  margin: 0 auto;
}

/* GENERAL LAYOUT STYLES */

.flexContainer {
  display: flex;
}

.userOptionsSection,
.userSelectionsList {
  width: 50%;
}

/* USER SELECTIONS LIST */

label {
  text-transform: uppercase;
  color: white;
  margin-left: 10px;
  /* font-size: 1rem; */
}

form {
  display: flex;
  justify-content: space-around;
  margin-bottom: 3%;
  padding-bottom: 3%;
}

.radioFirstTwo,
.radioSecondTwo {
  display: flex;
  flex-direction: column;
}

/* PACKING LIST STYLES */

.userSelectionItem {
  display: flex;
  justify-content: space-between;
  padding: 1% 0;
  width: 85%;
  margin: 0 auto;
}

.userSelectionItem label {
  font-size: 0.9rem;
}

.buttons {
  display: flex;
  justify-content: space-around;
  padding: 4% 0;
  margin-bottom: 3%;
}

input[type="checkbox"] {
  margin-right: 10px;
}

/* FOOTER STYLES */

footer {
  background: blue;
  text-align: center;
  font-size: 0.8rem;
  text-transform: uppercase;  
  height: 22px;
  margin-top: 1%;
}

/* MEDIA QUERIES */

@media (max-width: 1000px) {
  .wrapper {
    width: 90%;
  }
}

@media (max-width: 830px) {
  .wrapper {
    width: 100%;
  }

  .flexContainer {
    flex-direction: column;
  }

  .userOptionsSection,
  .userSelectionsList {
    width: 100%;
  }
}

@media (max-width: 510px) {

}